body{
    margin : 0%;
    padding: 0%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
img{
    height:200px;
}
main{
    padding: 16px;
}
footer{
    margin-top: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 10px;
}
a{
    text-decoration: none;
    color: #B4CF66;
}
.top-banner {
    background-color: #FF5A33;
    border-color: #146152;
}
.top-banner-text{
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}
.bottom-banner{
    background-color: #B4CF66;
    padding: 1.5em;
    position: sticky;
    bottom: 0;
}
h1{
    color: #146152;
}
tr:nth-child(even){
    background-color: rgb(212, 209, 209);
}
